html {
    min-height: calc(var(--vh, 1vh)*100);
    display: flex;
    margin-right: 0!important;
    overflow-y: scroll!important;
    overflow-x: hidden!important;
}
@font-face {
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Inter Regular'), url('../fonts/Inter-Regular.woff') format('woff');
}
body {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    font-family: 'Inter Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#app, #app > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.content {
    min-width: 0;
    width: 100%;
    min-height: calc(var(--vh, 1vh)*100);
}
@include media-breakpoint-down(xs) {
  .content:not(.landing) {
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    padding-bottom: ($spacer * 4);
  }
}

.nav-link {
  line-height: 25px;
  font-size: 13px;
  &.router-link-exact-active{
    color: #CE1126!important;
  }
}

.username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
    z-index: 2;
}

textarea::-webkit-resizer,
textarea::-webkit-scrollbar-corner,
div::-webkit-resizer,
div::-webkit-scrollbar-corner {
  display: none;
}
textarea::-webkit-scrollbar, div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
textarea::-webkit-scrollbar-button, div::-webkit-scrollbar-button {
  display: none;
}
textarea::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
  background-color: #aaa;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-width: 4;
  width: 4;
}

a.disabled {
  pointer-events: none;
  opacity: 0.5;
}

a.nounderline {
  &:hover {
    text-decoration: none;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.nl2br {
  white-space: pre-line;
}

.wrap {
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.page-header {
  button.btn-link {
    padding: 0;
  }
  a:not(.dropdown-item):not(.nav-link) {
    color: #000;
  }
}

.video-js {
  .vjs-big-play-button {
    border-radius: 1000px;
    background: rgba(0,0,0,.5);
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
    margin: 0;
    border: none !important;
    box-shadow: none !important;
    opacity: .7;
    color: #fefefe;
    &:before {
      content: "";
      display: none;
    }

  }
  &:hover {
    .vjs-big-play-button {
      background: rgba(0,0,0,1);
      opacity: 1;
      transition: all 0.2s;
      &:hover, &:focus {
        background-color: $primary;
        opacity: 1;
        transition: all 0.2s;
      }
    }
  }
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table td {
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0;
  &.full {
    max-width: unset;
    text-overflow: unset;
    overflow: unset;
  }
}
.modal-content{
  background: #FFFFFF;
  border-radius: 25px;
}
.modal-content{
  padding: 15px 25px 25px 25px;
}
.modal-content .title{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  align-items: center;
  text-align: center;
  color: #212121;
  margin-bottom: 5px;
}
.modal-content .subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #74767E;
}
.modal-body{
  padding: 5px 1rem 1rem 1rem;
}
.forgot-password-text, .sign-up-text{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #CE1126;
}
.sub-signup-text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #9E9E9E;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-primary{
  background: #002D64;
  border-radius: 12px;
}
.btn-primary:hover{
  background: #0048a1;
  border-radius: 12px;
}
.btn-danger{
  background: #CE1126;
  border-radius: 8px;
  font-weight: 600;
  font-size: 13px;
}
.btn-danger:hover{
  background: #aa1423;
}
.modal-header{
  border-bottom: none;
  padding: 0px;
}
.modal-header h5{
  display: none;
}
.modal-header .close {
  margin: -1rem auto -1rem -1rem;
  font-size: 36px;
  color: #292D32;
  opacity: 1;
}
.more-posts{
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.post .username {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
}
.post-footer a{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}
.border-gray{
  border: 2px solid #F4F4F4;
}